.app__bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.btn__box {
  display: flex;
  margin-top: 45px;
  width: 100%;
  justify-content: space-around;
}

.popup__form {
  position: absolute;
  top: 54.5px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.form_box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
input {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border: none;
  margin-bottom: 15px;
  height: 30px;
}

input:focus {
  outline: none;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: 150px; */
}
.profile > span {
  font-family: Comic Sans MS;
}
@media (max-width: 786px) {
  .btn {
    width: 100px !important;
    font-size: xx-small !important;
  }
}
