span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 10px;
}
.update__box {
  display: flex;
  justify-content: space-between;
}
.update__box > h1 {
  margin-top: 10px;
}
.update__box > div {
  display: flex;
  justify-content: space-evenly;
}
